<nav class="nav-boxes" aria-label="Main navigation">
  <a href="index.html" data-page="index">Home</a>
  <a href="page2.html" data-page="page2">resume/cv</a>
  <a href="page5.html" data-page="page5">Compositions</a>
  <a href="friends.html" data-page="friends">Friends</a>
  <a href="photo-album.html" data-page="photo-album">Photos</a>
  <a href="music.html" data-page="music">Music</a>
  <a href="page3.html" data-page="page3">Artwork</a>
  <a href="page4.html" data-page="page4">Projects</a>
</nav>
