<nav class="nav-boxes" aria-label="Main navigation">
  <a href="index.html" data-page="index">Home</a>
  <a href="resume.html" data-page="resume">resume/cv</a>
  <a href="compositions.html" data-page="compositions">Compositions</a>
  <a href="friends.html" data-page="friends">Friends</a>
  <a href="photo-album.html" data-page="photo-album">Photos</a>
  <a href="music.html" data-page="music">Music</a>
  <a href="artwork.html" data-page="artwork">Artwork</a>
  <a href="projects.html" data-page="projects">Projects</a>
</nav>
